/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.clear { clear: both;}
html,body{
  background-color:#B6A68E;
  height:100%;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
 ul{
     list-style: none;
 }

#pagewrap {
	width: 100%;
  color:white;
  font-family:copperplate;
  min-height:100%;
  position:relative;
}


/*HEAD CONTENTS*/
#head_container{
  background-color:black;
  width:100%;
  height:110px;
  background-image:url(taps.png);
  background-position:right;
  background-repeat:no-repeat;
  border:2px #A27533 solid;
  opacity:.9;
}

#head_image{
  float:left;
  width:auto;
}
#top_logo_text{
  float:left;
  width:auto;

  height:auto;
  margin-top:2%;
}

#login_block{
  float:left;
}

#search_block{
  float:right;
  width:auto;
  margin-top:20px;
  height:50px;
}
#search_block input[type="text"], textarea{
  background-color:#5A6B80;

}

#beer_search{
  float:left;
  width:28%;
  margin-left:10%;
}

#food_search{
  float:left;
  width:28%;
  margin-left:10%;
}
/*END HEAD CONTENTS*/
/*START BODY CONTENTS*/

#content {
	width: 70%;
	float:left;
  clear:right;
  background-color:#B6A68E;
  padding-bottom:80px;
/*  padding:10px;*/
}

#content label{
  width:10%;
  text-align:right;
  padding-right:10px;
}

#content input, label {
    float:left;
}

#sidebar {
	width: 25%;
	float: left;
  clear: left;
  color:blue;
  background-color:#B6A68E;
  padding-bottom:80px;
  padding:10px;
}
#sidebar ul{

}

li:hover{
  background-color:white;
  border-radius:2px;
}
/*END BODY CONTENTS*/

footer {
  height:80px;
  position:fixed;
  background-color:black;
  width:100%;
  bottom:0;
  border:2px #A27533 solid;
}
#ocs_logo img{
  width:60px;
  float:right;
  margin:10px 10px;
}
#creator{
  font-size:7px;
  float:left;
  margin: 30px 0px 0px 30px;
}
/*END FOOTER CONTENTS*/

@media screen and (max-width: 980px) {

	#pagewrap {
		width: 100%%;
	}
  #head_image{
    width:80px;
  }
	#content {
		width: 60%;
		padding: 3% 4%;
    float:left;
	}

	#sidebar {
		width: 30%;
	  float:left;
  }

  #footer {
    clear:both;
  }

  #search_block{
    float:right;
  }
}

@media screen and (max-width: 650px) {

	#header {
		height: auto;
    width:100%;
	}
  #head_image{
    width:60px;
  }
	#login-block{
	  margin-right:2%;
	}

  #search_block{
	  width:100%;
    clear:both;
    height:30px;
	  background-size:100%;
    margin: 0 2% 0 0;
    padding:0 2% 0 0;
    float:left;
    margin-left:0;
  }

  #search_block label{
    float:left;
    width:10%;
    font-size:auto;
    margin-top:2%;
  }
  #search_block input[type="text"], textarea{
    width:30%;
    float:right;

  }
  #food_search{
    width:40%;
    margin-top:1%;
    float:left;
  }

  #beer_search{
    width:40%;
    float:left;
    overflow:hidden;
    margin-top:1%;
  }

  #content {
		width: 100%;
		float: left;
		margin: 20px 0;
	}

	#sidebar {
		width: 100%;
		float: left;
		margin: 0;
    display:inline-block;
    clear:both;
    text-align:center;
  }

  #sidebar p{
    display:inline-block;
  }
  #footer{
    width:100%;
  }
}

@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}

	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}

}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
