<h1>Welcome to HoppyHour!</h1>

<div id="beer_grid">
  <% @beers.each do |beer|%>
    <% if !beer.photo_ref.blank? %>
      <%= link_to image_tag(beer.photo_ref), show_beer_path(beer.id) %>
    <% else %>
      <%= link_to image_tag("beermug.png"), show_beer_path(beer.id) %>
    <%end%>
  <% end %>
</div>
